h3.ff_fredoka{
  font-family: 'Train One', system-ui;
  font-weight:bold;
}
p.ff_fredok{
  font-family: 'Darumadrop One', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Palette Mosaic', system-ui;
font-family: 'Shizuru', system-ui;
font-family: 'Stick', sans-serif;
font-family: 'Train One', system-ui;
  font-weight:bold;
}
h2.ff_fredok{
  font-family: "Chokokutai";
  font-weight:bold;
}

.wf-nicomoji { 
  font-family: "Nico Moji"; 
  font-weight:bold;
}

h3.fonta{
  font-family: 'Darumadrop One', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Palette Mosaic', system-ui;
  font-family: 'Shizuru', system-ui;
  font-family: 'Stick', sans-serif;
  font-family: 'Train One', system-ui;
  font-weight:bold;
}
h3.fontb{
  font-family: "M PLUS Rounded 1c";
  font-weight:bold;
}
h3.fontc{
  font-family: "Nico Moji"; 
  font-weight:bold;
}

